This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
from secrets import API_KEY

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import json

import pandas as pd
import requests

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
DATABASE = 'FSE'
DATASET = 'AFX_X'
params = {
    'api_key': API_KEY,
    'start_date': '2020-01-01',
    'end_date': '2020-01-02',
}
r = requests.get(f"https://www.quandl.com/api/v3/datasets/{DATABASE}/{DATASET}/data.json", params=params)
r_json = json.loads(r.text)

In [4]:
r.url

'https://www.quandl.com/api/v3/datasets/FSE/AFX_X/data.json?api_key=SdokJP8GjjTQsC2Bwk4p&start_date=2020-01-01&end_date=2020-01-02'

In [5]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure
r_json

{'dataset_data': {'limit': None,
  'transform': None,
  'column_index': None,
  'column_names': ['Date',
   'Open',
   'High',
   'Low',
   'Close',
   'Change',
   'Traded Volume',
   'Turnover',
   'Last Price of the Day',
   'Daily Traded Units',
   'Daily Turnover'],
  'start_date': '2020-01-01',
  'end_date': '2020-01-02',
  'frequency': 'daily',
  'data': [['2020-01-02',
    114.0,
    114.9,
    112.7,
    113.8,
    None,
    143464.0,
    16291666.0,
    None,
    None,
    None]],
  'collapse': None,
  'order': None}}

There are a few levels of nesting in the data returned by the API. Most important are the 'data' and 'column_names', which we can use to create a Pandas dataframe.

In [6]:
print('Outside Level \n', r_json.keys())
print('Level 2 \n', r_json['dataset_data'].keys())
print('Column Names \n', r_json['dataset_data']['column_names'])
print('Data \n', r_json['dataset_data']['data'])

Outside Level
 dict_keys(['dataset_data'])
Level 2
 dict_keys(['limit', 'transform', 'column_index', 'column_names', 'start_date', 'end_date', 'frequency', 'data', 'collapse', 'order'])
Column Names
 ['Date', 'Open', 'High', 'Low', 'Close', 'Change', 'Traded Volume', 'Turnover', 'Last Price of the Day', 'Daily Traded Units', 'Daily Turnover']
Data
 [['2020-01-02', 114.0, 114.9, 112.7, 113.8, None, 143464.0, 16291666.0, None, None, None]]

In [7]:
pd.DataFrame(r_json['dataset_data']['data'], columns=r_json['dataset_data']['column_names'])

,Date,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
0,2020-01-02,114.0,114.9,112.7,113.8,None,143464.0,16291666.0,None,None,None

For this day, at least, several of the values are missing.

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

## Task 1: Collect data for AFX_X for 2017

In [8]:
params = {
    'api_key': API_KEY,
    'start_date': '2017-01-01',
    'end_date': '2017-12-31',
}
r_afx_2017 = requests.get(f"https://www.quandl.com/api/v3/datasets/{DATABASE}/{DATASET}/data.json", params=params)

## Task 2: Convert the returned JSON object into a Python dictionary

In [9]:
afx_2017_json = json.loads(r_afx_2017.text)

## Task 3: What were the highest and lowest opening prices in 2017?

In [10]:
afx = pd.DataFrame(afx_2017_json['dataset_data']['data'], columns=afx_2017_json['dataset_data']['column_names'])
afx['Date'] = pd.to_datetime(afx['Date'])
afx = afx.set_index('Date').sort_index()
afx.head()

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-01-02,34.99,35.94,34.99,35.80,NaN,44700.0,1590561.0,None,None,None
2017-01-03,35.90,35.93,35.34,35.48,NaN,70618.0,2515473.0,None,None,None
2017-01-04,35.48,35.51,34.75,35.19,NaN,54408.0,1906810.0,None,None,None
2017-01-05,35.02,35.20,34.73,35.06,NaN,48412.0,1692326.0,None,None,None
2017-01-06,34.91,35.21,34.91,35.04,NaN,27507.0,964046.0,None,None,None

In [11]:
afx.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 255 entries, 2017-01-02 to 2017-12-29
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Open                   252 non-null    float64
 1   High                   255 non-null    float64
 2   Low                    255 non-null    float64
 3   Close                  255 non-null    float64
 4   Change                 1 non-null      float64
 5   Traded Volume          255 non-null    float64
 6   Turnover               255 non-null    float64
 7   Last Price of the Day  0 non-null      object
 8   Daily Traded Units     0 non-null      object
 9   Daily Turnover         0 non-null      object
dtypes: float64(7), object(3)
memory usage: 21.9+ KB

In [12]:
print(f'The highest opening price was ${afx.Open.max()}, and the lowest opening price was ${afx.Open.min()}.')

The highest opening price was $53.11, and the lowest opening price was $34.0.

## Task 4: What was the largest change in any one day?

In [13]:
print(f'The largest change in any one day was ${(afx.High - afx.Low).max():.2f}.')
print('Other data for this day:')
afx.iloc[[(afx.High - afx.Low).argmax()]]

The largest change in any one day was $2.81.
Other data for this day:

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2017-05-11,43.4,46.06,43.25,45.0,NaN,189125.0,8496322.0,None,None,None

## Task 5: What was the largest change between any two days?

In [14]:
print(f'The largest (absolute) change between any two days was ${afx.Close.diff().max():.2f}.')

The largest (absolute) change between any two days was $1.72.

## Task 6: What was the average daily trading volume during this year?

In [15]:
print(f"The average daily trading volume during this year was {afx['Traded Volume'].mean():.1f} shares.")

The average daily trading volume during this year was 89124.3 shares.

## Task 7: What was the median trading volume during this year?

In [16]:
print(f"The median trading volume during this year was {afx['Traded Volume'].median()} shares.")

The median trading volume during this year was 76286.0 shares.